result/*
figures/*
#data/sprint1/*
data/Demographic/*
deid2-s1progressive/
problem_spec/EventAnalysis.py
problem_spec/Jaccard.py
problem_spec/Jaccard2.py
delta_plot.py
compare_delta.sh
compare_script.sh
main.py
scatter_plot.py
okada_ieeepami06_emdl1.pdf
figures.pptx