result/*
figures/*
result_old/*
#data/sprint1/*
data/Demographic/*
deid2-s1progressive/
problem_spec/EventAnalysis.py
problem_spec/Jaccard.py
problem_spec/Jaccard2.py
problem_spec/Event2wayLP_month_incident.py
problem_spec/Event2wayLP_month_incident2.py
delta_plot.py
compare_delta.sh
compare_script.sh
compare2.py
main.py
scatter_plot.py
okada_ieeepami06_emdl1.pdf
figures.pptx
PieChartMetric.pdf